.type-22 {
  color: #73879C;
}
.type-22 .container-fluid .content {
  margin: 0 15px;
}
.type-22 .container-fluid .content .content-left h3 {
  margin: 9px 0;
}
.type-22 .container-fluid .content .content-right {
  margin: -33px 0;
  float: right;
  padding: 0;
}
.type-22 .container-fluid .content .content-right .input-search {
  margin-bottom: 10px;
  position: relative;
}
.type-22 .container-fluid .content .content-right .input-search .form-search {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-22 .container-fluid .content .content-right .input-search .input-btn-search .btn-search {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  background-color: #ffffff;
  color: #93a2b2;
}
.type-22 .container-fluid .content .content-right .input-search .input-btn-search .btn-search:hover {
  background-color: #e6e6e6;
}
.type-22 .container-fluid .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
}
.type-22 .container-fluid .admin-panel .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-22 .container-fluid .admin-panel .admin-title h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 16px;
}
.type-22 .container-fluid .admin-panel .admin-title ul.items {
  margin-right: 0;
  min-width: 70px;
  float: right;
  list-style: none;
  margin-top: 5px;
}
.type-22 .container-fluid .admin-panel .admin-title ul.items li {
  float: left;
  cursor: pointer;
}
.type-22 .container-fluid .admin-panel .admin-title ul.items li a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 13px;
}
.type-22 .container-fluid .admin-panel .admin-title ul.items .collapse-link,
.type-22 .container-fluid .admin-panel .admin-title ul.items .close-link {
  opacity: 1;
}
.type-22 .container-fluid .admin-content p {
  margin-top: 10px;
}
.type-22 .container-fluid .admin-content #datatable {
  opacity: 1;
}
