.type-5 .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-top: 10px;
}
.type-5 .admin-panel .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.type-5 .admin-panel .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 20px;
  color: #73879C;
}
.type-5 .admin-panel .admin-title h2 small {
  margin-left: 10px;
  font-size: 15px;
}
.type-5 .admin-panel .admin-title ul.sales {
  min-width: 70px;
  margin-right: 0;
  float: right;
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}
.type-5 .admin-panel .admin-title ul.sales .collapse-link,
.type-5 .admin-panel .admin-title ul.sales .close-link {
  opacity: 1;
}
.type-5 .admin-panel .admin-title ul.sales > li {
  float: left;
  cursor: pointer;
}
.type-5 .admin-panel .admin-title ul.sales > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 15px;
}
.type-5 .admin-panel .admin-content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
  width: 100%;
  position: relative;
}
.type-5 .admin-panel .admin-content .row {
  margin-right: -10px;
  margin-left: -10px;
}
.type-5 .admin-panel .admin-content .row h4 {
  font-size: 15px;
  font-weight: 500;
  color: #73879C;
  margin: 18px;
}
.type-5 .admin-panel .admin-content .row .sparkline_one {
  padding: 10px 25px;
}
.type-5 .admin-panel .admin-content .row .canvasDoughnut {
  margin: 5px 10px 10px 0px;
  width: 110px;
  height: 110px;
}
.type-5 .admin-panel .admin-content .row .rates {
  margin: 0;
}
