.type-11 .container-fluid .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #FFF;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 10px;
}
.type-11 .container-fluid .admin-panel .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-11 .container-fluid .admin-panel .admin-title span,
.type-11 .container-fluid .admin-panel .admin-title .fa,
.type-11 .container-fluid .admin-panel .admin-title .glyphicon {
  color: #BDBDBD;
}
.type-11 .container-fluid .admin-panel .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 20px;
  color: #73879C;
}
.type-11 .container-fluid .admin-panel .admin-title h2 small {
  margin-left: 10px;
}
.type-11 .container-fluid .admin-panel .admin-title .filter-time {
  font-size: 13px;
}
.type-11 .container-fluid .admin-panel .admin-title .filter-time #reportrange {
  background: #FFF;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  float: right;
}
.type-11 .container-fluid .admin-panel .admin-content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
}
.type-11 .container-fluid .admin-panel .admin-content .demo-placeholder {
  height: 280px;
}
.type-11 .container-fluid .admin-panel .admin-content .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-11 .container-fluid .admin-panel .admin-content .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
}
.type-11 .container-fluid .admin-panel .admin-content #chart_plot_03 {
  opacity: 1;
}
