.type-14 footer {
  padding: 10px 10px;
  text-align: right;
  display: block;
  color: #5A738E;
}
.type-14 footer a {
  text-decoration: none;
  color: #5A738E;
}
.type-14 footer a:hover {
  text-decoration: none;
}
.a {
  text-decoration: none;
}
