.type-f-12 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.type-f-12 .container-fluid .sidebar-left {
  background-color: #2A3F54;
}
.type-f-12 .container-fluid .sidebar-left .logo {
  text-align: center;
  line-height: 60px;
}
.type-f-12 .container-fluid .sidebar-left .logo a {
  text-decoration: none;
  color: #fff;
}
.type-f-12 .container-fluid .sidebar-left .logo a .fa-paw {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 5px;
}
.type-f-12 .container-fluid .sidebar-left .logo a .fa-paw,
.type-f-12 .container-fluid .sidebar-left .logo a span {
  font-size: 21px;
}
.type-f-12 .container-fluid .sidebar-left .img-user {
  margin: 10px 0;
}
.type-f-12 .container-fluid .sidebar-left .img-user img {
  width: 30%;
  border: 4px solid #fff;
  border-radius: 50%;
  float: left;
}
.type-f-12 .container-fluid .sidebar-left .img-user .welcome-name {
  color: #ffffff;
  float: left;
  font-size: 15px;
  text-align: center;
  margin-left: 25px;
  padding-top: 10px;
}
.type-f-12 .container-fluid .sidebar-left .img-user .welcome-name span {
  color: #BAB8B8;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical h4 {
  text-transform: uppercase;
  line-height: 50px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -5px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li {
  padding-bottom: 5px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu {
  cursor: pointer;
  background-color: rgba(255,255,255,0.06);
  padding: 10px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a {
  text-decoration: none;
  font-size: 13px;
  color: #ededed;
  font-weight: normal;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-home,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-edit,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-table,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-desktop,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-bar-chart-o,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-clone,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-bug,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-windows,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-sitemap,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-laptop {
  width: 30px;
  font-size: 18px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .parent-menu a .fa-chevron-down {
  float: right;
  font-size: 10px;
  margin-top: 5px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul.child-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul.child-menu li {
  cursor: pointer;
  padding: 10px;
  border-right: 5px solid #1ABB9C;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul.child-menu li a {
  text-decoration: none;
  padding-left: 30px;
  color: #ededed;
  font-size: 13px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul.child-menu li.current-page {
  background-color: rgba(255,255,255,0.06);
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul.child-menu li:hover {
  background-color: rgba(255,255,255,0.06);
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li ul#child-home,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-elements,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-tables,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-additional,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-data,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-layout,
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li #child-forms {
  opacity: 1;
  z-index: 10;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical ul.item-menu li .comming-soon {
  font-size: 8px;
  background-color: #5cb85c;
  margin-top: 4px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical .sidebar-footer {
  padding: 5px 0 0;
  position: fixed;
  bottom: 0;
  width: 244px;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical .sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 20.5%;
  font-size: 13px;
  display: block;
  float: left;
  background: #172D44;
  cursor: pointer;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical .sidebar-footer a i {
  color: #5A738E;
}
.type-f-12 .container-fluid .sidebar-left .menu-vertical .sidebar-footer a:hover {
  background-color: #425567;
}
.type-f-12 .container-fluid .top-nav .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
}
.type-f-12 .container-fluid .top-nav .nav_menu #menu-toggle {
  color: #5A738E;
  font-size: 26px;
  border: none;
  background-color: #ededed;
}
.type-f-12 .container-fluid .top-nav .nav_menu #menu-toggle:hover {
  color: #2A3F54;
}
.type-f-12 .container-fluid .top-nav .navbar-right {
  float: right;
}
.type-f-12 .container-fluid .top-nav .navbar-right li {
  position: relative;
  float: right;
  display: inline-block;
  cursor: pointer;
}
.type-f-12 .container-fluid .top-nav .navbar-right li a {
  color: #515356;
  line-height: 32px;
}
.type-f-12 .container-fluid .top-nav .navbar-right li a img {
  max-width: none;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.user-profile li a span,
.type-f-12 .container-fluid .top-nav .navbar-right li ul.user-profile li a i {
  float: right;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list {
  width: 300px;
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  right: 0;
  left: auto;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li {
  position: relative;
  background: #f7f7f7;
  padding: 5px;
  margin: 6px 6px 0;
  width: 96%;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a {
  width: 100%;
  color: #5A738E;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a span {
  white-space: normal;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a .image,
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a .name {
  cursor: pointer;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a .image img {
  float: left;
  margin-right: 10px;
  width: 11%;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a .time {
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 35px;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li a .msg {
  display: block;
  font-size: 13px;
  font-style: italic;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li .text-center a {
  text-decoration: none;
}
.type-f-12 .container-fluid .top-nav .navbar-right li ul.msg_list li:hover {
  background-color: none;
}
.type-f-12 .container-fluid .top-nav .navbar-right li .info-number .badge {
  font-size: 13px;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
  background-color: #1ABB9C;
  border: 1px solid #1ABB9C;
  color: #fff;
}
.type-f-12 .container-fluid .total-chart {
  padding: 20px 10px;
}
.type-f-12 .container-fluid .total-chart span,
.type-f-12 .container-fluid .total-chart h3 {
  color: #73879C;
}
.type-f-12 .container-fluid .total-chart h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 3px 0 7px;
  font-weight: 700;
}
.type-f-12 .container-fluid .total-chart .sparkline11,
.type-f-12 .container-fluid .total-chart .sparkline_three {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin1 {
  padding: 10px 13px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title span,
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title .fa,
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title .glyphicon {
  color: #BDBDBD;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 20px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title .filter-time {
  font-size: 13px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-title .filter-time #reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  float: right;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-content .demo-placeholder {
  height: 280px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-content .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-content .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
}
.type-f-12 .container-fluid .admin-panel.admin1 .admin-content #chart_plot_03 {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin2 {
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 19px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title ul.items {
  min-width: 70px;
  list-style: none;
  margin-top: 5px;
  float: right;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title ul.items .collapse-link,
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title ul.items .close-link {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title ul.items > li {
  float: left;
  cursor: pointer;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-title ul.items > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content {
  padding: 0 5px 6px;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content #canvasDoughnut {
  margin: 15px 10px 10px 0;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content h4 {
  font-size: 16px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_left {
  float: left;
  text-align: left;
  width: 25%;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_left span {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_center {
  width: 55%;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_center .progress {
  border-radius: 0px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_center .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_center span {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_right {
  width: 20%;
  float: right;
  text-align: right;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .widget_summary .w_right span {
  font-size: 13px;
  color: #73879C;
  font-weight: bold;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content table th p {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 13px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content table.tile_info td i {
  margin-right: 2px;
  float: left;
  line-height: 23px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content table.tile_info td:first-child {
  width: 83%;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .fa.blue {
  color: #3498DB;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .fa.green {
  color: #1ABB9C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .fa.purple {
  color: #9B59B6;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .fa.aero {
  color: #9CC2CB l;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .fa.red {
  color: #E74C3C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul.quick-list {
  width: 45%;
  padding-left: 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul.quick-list li i {
  padding-right: 10px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul.quick-list a {
  color: #73879C;
  text-decoration: none;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul.quick-list a:hover {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget {
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget h4 {
  font-size: 13px;
  font-weight: 500;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget .goal-wrapper {
  display: block;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget .goal-wrapper .gauge-value,
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget .goal-wrapper .goal-value,
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget .goal-wrapper #gauge-text,
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget .goal-wrapper #goal-text {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content .sidebar-widget #chart_gauge_01 {
  width: 160px;
  height: 100px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content p {
  padding: 0px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content ul {
  padding: 0px;
}
.type-f-12 .container-fluid .admin-panel.admin2 .admin-content p {
  margin-top: 10px;
}
.type-f-12 .container-fluid .admin-panel.admin3 {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 20px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 19px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title ul.items {
  min-width: 70px;
  list-style: none;
  margin-top: 5px;
  float: right;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title ul.items .collapse-link,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title ul.items .close-link {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title ul.items > li {
  float: left;
  cursor: pointer;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-title ul.items > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 13px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content {
  padding: 0 5px 6px;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content h2 {
  font-size: 20px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content h4 {
  font-size: 13px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content #partly-cloudy-day,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content #snow,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content #sleet,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content #cloudy {
  display: block;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content #clear-day {
  display: block;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .info-progress {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .info-progress .bg-green {
  width: 89%;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content table th p {
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content ul.quick-list {
  width: 45%;
  padding-left: 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content ul.quick-list li i {
  padding-right: 10px;
  color: #73879C;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content ul.quick-list a {
  color: #5A738E;
  text-decoration: none;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content ul.quick-list a:hover {
  color: #23527c;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget {
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget h4 {
  font-size: 13px;
  font-weight: 500;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper {
  display: block;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper .gauge-value,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper .goal-value,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper #gauge-text,
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper #goal-text {
  opacity: 1;
}
.type-f-12 .container-fluid .admin-panel.admin3 .admin-content .sidebar-widget #chart_gauge_01 {
  width: 160px;
  height: 100px;
}
.type-f-12 .container-fluid .page-content-wrraper {
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.type-f-12 .container-fluid footer {
  background: #ffffff;
  padding: 10px 10px;
  display: block;
  color: #5A738E;
  text-align: right;
}
.type-f-12 .container-fluid footer a {
  text-decoration: none;
  color: #5A738E;
}
.type-f-12 .container-fluid footer a:hover {
  text-decoration: none;
}
.type-f-12 .container-fluid #back-to-top {
  border: 1px solid #4adcff;
  background: #24bde2;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 11px;
}
.type-f-12 .container-fluid #back-to-top:hover {
  border: 1px solid #ffa789;
  background: #ff6734;
}
@media (max-width: 980px) {
  .img-user,
  .sidebar-footer {
    display: none;
  }
  .sidebar-left {
    display: none;
  }
}
.type-f-12.toggled {
  margin-left: -270px;
}
.type-f-12.toggled #chart_plot_03 {
  width: 1300px;
}
